/* Body Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;

}

/* About Section */
.about-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #5c3d1f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 1600px;
    margin: 60px auto;
}

.about-text {
    padding: 20px;
}

.about-text h2 {
    text-align: center;
    margin-top: 0;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    font-family: Arial, sans-serif;
    color: #333;
}

.about-text h2::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #cc6600;
    margin: 10px auto 30px;
    animation: apatineLinijaH2 1s ease-in-out forwards;
}

/* Animacija */
@keyframes apatineLinijaH2 {
  to {
    width: 650px;
  }
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.about-image {
    text-align: center;
}

.about-image img {
    width: 100%;
    max-width: 450px;
    transition: transform 0.5s ease;
}

.about-image img:hover {
    transform: scale(1.5);
}

/* Responsive - mažesniems ekranams */
@media (max-width: 1200px) {
    .about-grid {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-text {
        padding: 10px;
    }

    .about-image {
        margin-top: 20px;
    }
}

@media (max-width: 660px) {
    .about-text p {
        font-size: 14px;
    }

    .about-text h2 {
        font-size: 22px;
    }
}