/* Body Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;
   
}

h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 26px;
    font-weight: bold;
    position: relative;
}

h2::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #cc6600;
    margin: 10px auto 30px;
    animation: apatineLinijaH2 1s ease-in-out forwards;
  }

  /* Aprašom animacijos veiksmus */
@keyframes apatineLinijaH2 {
  to {
    width: 650px;
  }
}

/* Cards Container */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    gap: 20px;
    max-width: 1800px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    border: 1px solid #5c3d1f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: calc(25% - 20px);
    min-width: 260px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.5s ease-in-out forwards;
}

.card:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.cards-container .card:nth-child(odd):hover {
  transform: scale(1.25) rotate(2deg);
}

.cards-container .card:nth-child(even):hover {
  transform: scale(1.25) rotate(-2deg);
}

.card ul {
    list-style: none;
    padding: 20px;
    margin: 0;
  }

  .card li {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
    font-size: 15px;
  }

  .card li:last-child {
    border-bottom: none;
  }

/* Responsive - mažesniems ekranams */
@media (max-width: 1200px) {
    .card {
      width: calc(50% - 20px);
    }
  }

  @media (max-width: 660px) {
    .card {
      width: 100%;
    }
}